body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:596px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:328px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u788 {
  position:absolute;
  left:227px;
  top:55px;
  width:145px;
  height:328px;
}
#u789 {
  position:absolute;
  left:2px;
  top:156px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:192px;
  top:219px;
  width:0px;
  height:0px;
}
#u790_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u790_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:20px;
}
#u791 {
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:187px;
  top:482px;
  width:0px;
  height:0px;
}
#u792_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u792_seg1 {
  position:absolute;
  left:82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u793 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794 {
  position:absolute;
  left:322px;
  top:482px;
  width:0px;
  height:0px;
}
#u794_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u794_seg1 {
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u795 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:445px;
  top:482px;
  width:0px;
  height:0px;
}
#u796_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u796_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:20px;
  height:20px;
}
#u797 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  position:absolute;
  left:45px;
  top:256px;
  width:0px;
  height:0px;
}
#u798_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:211px;
}
#u798_seg1 {
  position:absolute;
  left:-10px;
  top:189px;
  width:20px;
  height:20px;
}
#u799 {
  position:absolute;
  left:-50px;
  top:96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  position:absolute;
  left:44px;
  top:539px;
  width:0px;
  height:0px;
}
#u800_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u800_seg1 {
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:20px;
}
#u801 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:196px;
  top:882px;
  width:0px;
  height:0px;
}
#u802_seg0 {
  position:absolute;
  left:-21px;
  top:22px;
  width:70px;
  height:11px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u802_seg1 {
  position:absolute;
  left:20px;
  top:69px;
  width:77px;
  height:10px;
  -webkit-transform:rotate(35deg);
  -moz-transform:rotate(35deg);
  -ms-transform:rotate(35deg);
  transform:rotate(35deg);
}
#u802_seg2 {
  position:absolute;
  left:73px;
  top:80px;
  width:20px;
  height:20px;
}
#u803 {
  position:absolute;
  left:-19px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804 {
  position:absolute;
  left:196px;
  top:882px;
  width:0px;
  height:0px;
}
#u804_seg0 {
  position:absolute;
  left:-22px;
  top:-35px;
  width:73px;
  height:11px;
  -webkit-transform:rotate(-61deg);
  -moz-transform:rotate(-61deg);
  -ms-transform:rotate(-61deg);
  transform:rotate(-61deg);
}
#u804_seg1 {
  position:absolute;
  left:20px;
  top:-85px;
  width:78px;
  height:11px;
  -webkit-transform:rotate(-37deg);
  -moz-transform:rotate(-37deg);
  -ms-transform:rotate(-37deg);
  transform:rotate(-37deg);
}
#u804_seg2 {
  position:absolute;
  left:73px;
  top:-107px;
  width:20px;
  height:20px;
}
#u805 {
  position:absolute;
  left:-18px;
  top:-65px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806 {
  position:absolute;
  left:196px;
  top:882px;
  width:0px;
  height:0px;
}
#u806_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u806_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u807 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808 {
  position:absolute;
  left:44px;
  top:706px;
  width:0px;
  height:0px;
}
#u808_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:166px;
}
#u808_seg1 {
  position:absolute;
  left:-10px;
  top:144px;
  width:20px;
  height:20px;
}
#u809 {
  position:absolute;
  left:-50px;
  top:73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:43px;
  top:946px;
  width:0px;
  height:0px;
}
#u810_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:154px;
}
#u810_seg1 {
  position:absolute;
  left:-10px;
  top:132px;
  width:20px;
  height:20px;
}
#u811 {
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u812 {
  position:absolute;
  left:12px;
  top:1333px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u814 {
  position:absolute;
  left:10px;
  top:1146px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u816 {
  position:absolute;
  left:43px;
  top:1168px;
  width:0px;
  height:0px;
}
#u816_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u816_seg1 {
  position:absolute;
  left:-10px;
  top:102px;
  width:20px;
  height:20px;
}
#u817 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u818 {
  position:absolute;
  left:10px;
  top:924px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u820 {
  position:absolute;
  left:3px;
  top:684px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u822 {
  position:absolute;
  left:11px;
  top:517px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u824 {
  position:absolute;
  left:372px;
  top:219px;
  width:0px;
  height:0px;
}
#u824_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u824_seg1 {
  position:absolute;
  left:8px;
  top:-10px;
  width:20px;
  height:20px;
}
#u825 {
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u826 {
  position:absolute;
  left:12px;
  top:234px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u828 {
  position:absolute;
  left:187px;
  top:654px;
  width:0px;
  height:0px;
}
#u828_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u828_seg1 {
  position:absolute;
  left:82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u829 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830 {
  position:absolute;
  left:46px;
  top:391px;
  width:0px;
  height:0px;
}
#u830_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:551px;
  height:8px;
}
#u831 {
  position:absolute;
  left:224px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832 {
  position:absolute;
  left:43px;
  top:583px;
  width:0px;
  height:0px;
}
#u832_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:553px;
  height:8px;
}
#u833 {
  position:absolute;
  left:224px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:43px;
  top:743px;
  width:0px;
  height:0px;
}
#u834_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:550px;
  height:8px;
}
#u834_seg1 {
  position:absolute;
  left:542px;
  top:-4px;
  width:8px;
  height:5px;
}
#u835 {
  position:absolute;
  left:224px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836 {
  position:absolute;
  left:44px;
  top:1047px;
  width:0px;
  height:0px;
}
#u836_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u836_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:550px;
  height:8px;
}
#u837 {
  position:absolute;
  left:222px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:43px;
  top:1203px;
  width:0px;
  height:0px;
}
#u838_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:550px;
  height:8px;
}
#u838_seg1 {
  position:absolute;
  left:542px;
  top:-1px;
  width:8px;
  height:5px;
}
#u839 {
  position:absolute;
  left:224px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:508px;
  top:6px;
  width:81px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u842 {
  position:absolute;
  left:418px;
  top:6px;
  width:81px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u844 {
  position:absolute;
  left:323px;
  top:6px;
  width:81px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u845 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u846 {
  position:absolute;
  left:20px;
  top:463px;
  width:50px;
  height:44px;
}
#u847 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u848 {
  position:absolute;
  left:25px;
  top:174px;
  width:38px;
  height:50px;
}
#u849 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u850 {
  position:absolute;
  left:149px;
  top:457px;
  width:38px;
  height:50px;
}
#u851 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u852 {
  position:absolute;
  left:520px;
  top:457px;
  width:38px;
  height:50px;
}
#u853 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:50px;
}
#u854 {
  position:absolute;
  left:148px;
  top:194px;
  width:44px;
  height:50px;
}
#u855 {
  position:absolute;
  left:2px;
  top:17px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u856 {
  position:absolute;
  left:25px;
  top:868px;
  width:38px;
  height:50px;
}
#u857 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u858 {
  position:absolute;
  left:18px;
  top:1096px;
  width:50px;
  height:40px;
}
#u859 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u860 {
  position:absolute;
  left:115px;
  top:517px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u862 {
  position:absolute;
  left:284px;
  top:457px;
  width:38px;
  height:50px;
}
#u863 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u864 {
  position:absolute;
  left:489px;
  top:517px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u866 {
  position:absolute;
  left:395px;
  top:460px;
  width:50px;
  height:44px;
}
#u867 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u868 {
  position:absolute;
  left:370px;
  top:517px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u870 {
  position:absolute;
  left:243px;
  top:517px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u872 {
  position:absolute;
  left:149px;
  top:629px;
  width:38px;
  height:50px;
}
#u873 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u874 {
  position:absolute;
  left:18px;
  top:1288px;
  width:50px;
  height:38px;
}
#u875 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u876 {
  position:absolute;
  left:111px;
  top:253px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u878 {
  position:absolute;
  left:284px;
  top:629px;
  width:38px;
  height:50px;
}
#u879 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u880 {
  position:absolute;
  left:285px;
  top:65px;
  width:38px;
  height:50px;
}
#u881 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u882 {
  position:absolute;
  left:237px;
  top:117px;
  width:128px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u884 {
  position:absolute;
  left:227px;
  top:203px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u886 {
  position:absolute;
  left:284px;
  top:149px;
  width:38px;
  height:50px;
}
#u887 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u888 {
  position:absolute;
  left:227px;
  top:285px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
}
#u890 {
  position:absolute;
  left:237px;
  top:360px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u892 {
  position:absolute;
  left:395px;
  top:194px;
  width:38px;
  height:50px;
}
#u893 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u894 {
  position:absolute;
  left:382px;
  top:254px;
  width:93px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u896 {
  position:absolute;
  left:285px;
  top:310px;
  width:38px;
  height:50px;
}
#u897 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u898 {
  position:absolute;
  left:285px;
  top:230px;
  width:38px;
  height:50px;
}
#u899 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u900 {
  position:absolute;
  left:118px;
  top:689px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u902 {
  position:absolute;
  left:250px;
  top:689px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u904 {
  position:absolute;
  left:146px;
  top:1084px;
  width:37px;
  height:50px;
}
#u905 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u906 {
  position:absolute;
  left:284px;
  top:857px;
  width:37px;
  height:50px;
}
#u907 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u908 {
  position:absolute;
  left:146px;
  top:860px;
  width:50px;
  height:44px;
}
#u909 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u910 {
  position:absolute;
  left:118px;
  top:914px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u912 {
  position:absolute;
  left:19px;
  top:634px;
  width:50px;
  height:40px;
}
#u913 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u914 {
  position:absolute;
  left:114px;
  top:1143px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u916 {
  position:absolute;
  left:284px;
  top:950px;
  width:37px;
  height:50px;
}
#u917 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u918 {
  position:absolute;
  left:284px;
  top:758px;
  width:37px;
  height:50px;
}
#u919 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:50px;
}
#u920 {
  position:absolute;
  left:253px;
  top:812px;
  width:97px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u922 {
  position:absolute;
  left:253px;
  top:907px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u924 {
  position:absolute;
  left:254px;
  top:1004px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u926 {
  position:absolute;
  left:148px;
  top:1225px;
  width:37px;
  height:50px;
}
#u927 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u928 {
  position:absolute;
  left:148px;
  top:1330px;
  width:37px;
  height:50px;
}
#u929 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u930 {
  position:absolute;
  left:98px;
  top:1284px;
  width:126px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u932 {
  position:absolute;
  left:92px;
  top:1390px;
  width:140px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:70px;
  top:281px;
  width:302px;
  height:299px;
  overflow:hidden;
}
#u934_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:299px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u934_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:286px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u935 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:286px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u937 {
  position:absolute;
  left:148px;
  top:194px;
  width:44px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u938 {
  position:absolute;
  left:148px;
  top:398px;
  width:310px;
  height:298px;
  overflow:hidden;
}
#u938_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:298px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u938_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:290px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u939 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:290px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:285px;
  top:310px;
  width:38px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u942 {
  position:absolute;
  left:138px;
  top:546px;
  width:307px;
  height:225px;
  overflow:hidden;
}
#u942_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:225px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u942_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u943 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:223px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u945 {
  position:absolute;
  left:149px;
  top:457px;
  width:38px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u946 {
  position:absolute;
  left:292px;
  top:534px;
  width:304px;
  height:225px;
  overflow:hidden;
}
#u946_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:225px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u946_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:224px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u947 {
  position:absolute;
  left:7px;
  top:6px;
  width:296px;
  height:224px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u949 {
  position:absolute;
  left:395px;
  top:460px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u950 {
  position:absolute;
  left:227px;
  top:223px;
  width:300px;
  height:228px;
  overflow:hidden;
}
#u950_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:228px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u950_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:218px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u951 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:218px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:284px;
  top:147px;
  width:38px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u954 {
  position:absolute;
  left:197px;
  top:304px;
  width:304px;
  height:303px;
  overflow:hidden;
}
#u954_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:303px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u954_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:286px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u955 {
  position:absolute;
  left:7px;
  top:6px;
  width:296px;
  height:286px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u957 {
  position:absolute;
  left:285px;
  top:230px;
  width:38px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u958 {
  position:absolute;
  left:229px;
  top:144px;
  width:311px;
  height:223px;
  overflow:hidden;
}
#u958_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:211px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u959 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u961 {
  position:absolute;
  left:284px;
  top:65px;
  width:38px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u962 {
  position:absolute;
  left:237px;
  top:306px;
  width:306px;
  height:223px;
  overflow:hidden;
}
#u962_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u962_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u963 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u965 {
  position:absolute;
  left:395px;
  top:194px;
  width:38px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u966 {
  position:absolute;
  left:197px;
  top:547px;
  width:301px;
  height:223px;
  overflow:hidden;
}
#u966_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u966_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u967 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:284px;
  top:457px;
  width:38px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u970 {
  position:absolute;
  left:277px;
  top:561px;
  width:310px;
  height:223px;
  overflow:hidden;
}
#u970_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u970_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u971 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u973 {
  position:absolute;
  left:520px;
  top:457px;
  width:38px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u974 {
  position:absolute;
  left:63px;
  top:739px;
  width:299px;
  height:223px;
  overflow:hidden;
}
#u974_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u974_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u975 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u977 {
  position:absolute;
  left:149px;
  top:629px;
  width:38px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u978 {
  position:absolute;
  left:160px;
  top:749px;
  width:301px;
  height:223px;
  overflow:hidden;
}
#u978_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u978_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u979 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u981 {
  position:absolute;
  left:284px;
  top:627px;
  width:38px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u982 {
  position:absolute;
  left:228px;
  top:852px;
  width:311px;
  height:223px;
  overflow:hidden;
}
#u982_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u983 {
  position:absolute;
  left:7px;
  top:6px;
  width:295px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:284px;
  top:758px;
  width:37px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u986 {
  position:absolute;
  left:193px;
  top:950px;
  width:301px;
  height:223px;
  overflow:hidden;
}
#u986_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u986_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u987 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u989 {
  position:absolute;
  left:284px;
  top:855px;
  width:37px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u990 {
  position:absolute;
  left:92px;
  top:954px;
  width:303px;
  height:223px;
  overflow:hidden;
}
#u990_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u990_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u991 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:146px;
  top:860px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u994 {
  position:absolute;
  left:244px;
  top:949px;
  width:303px;
  height:223px;
  overflow:hidden;
}
#u994_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u994_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u995 {
  position:absolute;
  left:7px;
  top:6px;
  width:293px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:287px;
  top:949px;
  width:34px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u998 {
  position:absolute;
  left:224px;
  top:1052px;
  width:308px;
  height:223px;
  overflow:hidden;
}
#u998_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u998_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u999 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:146px;
  top:1084px;
  width:37px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1002 {
  position:absolute;
  left:234px;
  top:1150px;
  width:308px;
  height:223px;
  overflow:hidden;
}
#u1002_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1002_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u1003 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1005 {
  position:absolute;
  left:148px;
  top:1223px;
  width:37px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1006 {
  position:absolute;
  left:234px;
  top:1177px;
  width:308px;
  height:223px;
  overflow:hidden;
}
#u1006_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1006_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:211px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u1007 {
  position:absolute;
  left:7px;
  top:6px;
  width:294px;
  height:211px;
  opacity:0.95;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:23px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1009 {
  position:absolute;
  left:148px;
  top:1331px;
  width:37px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
